<div class="content-container">

  <div class="content-header-container">
    <h1>About</h1>
  </div>

  <div class="content-body-container">
    <p>
      Founded in 2018, MyTravels is an all-in-one platform for making,
      organizing, and documenting travel plans. Based on user experiences,
      MyTravels provides insight into the world's most popular destinations
      and the features that make them unique. Sign up today and say yes to new
      adventures.
    </p>
  </div>

</div>
