<a href="<%= travel_log_path(log.travel, log) %>" class="link-primary-subcontainer">
  <p><%= log.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%d %b %Y at %l:%M %p ET") %></p>
  <p><span class="make-bold"><%= log.title %></span></p>
</a>
